    * {
        padding: 0;
        margin: 0;
        color: coral;
        font-weight: 800;
        /*    border: 1px solid red;*/
        box-sizing: border-box;
        font-family: 'Lora', serif;
    }

    html {
        background: rgba(0, 0, 0, 0) url("background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .wrapper {
        min-height: 800px;
        margin-bottom: 50px;
        clear: both;
    }

    header h1 {
        margin: 0.5rem auto;
        width: 90%;
        text-align: center;
    }

    section.user-input {
        margin: 1rem auto;
        width: 90%;
        text-align: center;
    }

    section.user-input input,
    section.user-input select,
    section.user-input button {
        padding: 0.5rem;
        border-radius: 5px;
        color: darkslategrey;
        /*        increased height to improve display on larger screens*/
        height: 40px;
        line-height: 30px;
        margin-bottom: 1rem;
    }

    section.user-input {
        margin: 1rem auto;
        width: 90%;
    }

    section.user-input #ingredient {
        width: 200px;
    }

    section.user-input #dietName {
        width: 210px;
    }

    section.user-input #allergyName {
        width: 200px;
    }

    section.user-input .search {
        /* width: 50px; */
        color: white;
        background-color: coral;
        padding: 0px 1rem;
        margin: 0 0.25rem;
        line-height: 25px;
        margin-bottom: 1rem;
    }

    section.display-results {
        background-color: rgba(89, 81, 82, .5);
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }

    section.display-results ul {
        display: block;
        width: 90%;
        padding: 5px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0.1rem;
    }

    section.display-results ul li {
        list-style: none;
        text-align: center;
        display: inline-block;
        border: 1px solid black;
        margin: 1rem 1%;
        width: 22%;
        padding: 0.5rem;
        border-radius: 5px;
        background-color: rgba(89, 81, 82, 1.0);
    }

    section.display-results ul li .recipe-image {
        height: 50px;
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
        margin-bottom: 0.5rem;
    }

    section.display-results ul li .recipe-description {
        opacity: 1;
    }

    section.display-results ul li .recipe-description h4 {
        height: 60px;
        overflow: hidden;
    }
    footer.contact {
        position: fixed;
        bottom: 5px;
        height: 30px;
        width: 100%;
        margin: 10rem auto;
        text-align: center;
    }
    @media only screen and (max-width: 800px) {
        section.display-results ul li {
            width: 60%;
            margin: 0.5rem auto;
            display: block;
        }
        section.display-results ul li .recipe-image {
            height: 200px;
        }
        section.user-input input,
        section.user-input select {
            width: 60% !important;
            margin: 1rem auto;
            display: block;
        }
    }
